src/main/mule/createAccount.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	
	
	
	<flow name="createAccountFlow" doc:id="25f5f26c-8548-400e-af6f-de94a644e11d" >
		<logger level="INFO" doc:name="Logger" doc:id="4ec7d9ad-548d-4650-bff9-8d03e0d093dc" message="createAccountFlow starts............"/>
		<db:insert doc:name="Insert" doc:id="393515f2-38fa-405f-b099-9331fd119a68" config-ref="Database_Config">
			<db:sql ><![CDATA[insert into Account(name, phone, email) 
values (:name, :phone, :email) ;
]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
		name:payload.name,
		phone:payload.mobileNo,
		email:payload.emailId
	}]]]></db:input-parameters>
		</db:insert>
		<ee:transform doc:name="Transform Message" doc:id="641f1fe9-6351-4418-a457-99e3f9984293" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  "statusCode": 200,
  "message": "Account created successfully"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="90e62e12-891a-4656-9c0f-b5c8b5f24161" message="DB  Response after transformation.............. #[payload]"/>
	</flow>
</mule>
