src/main/mule/deleteAccount.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="deleteAccountFlow" doc:id="8218d702-3bfb-411c-ba0e-ac7639fa5f28" >
		<db:delete doc:name="Delete" doc:id="f32c9f99-8fa9-4022-93a9-efa372c0c05b" config-ref="Database_Config">
			<db:sql ><![CDATA[delete from account where accountId=:accId; ]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
           accId: attributes.queryParams.account
   }]]]></db:input-parameters>
		</db:delete>
		<ee:transform doc:name="Transform Message" doc:id="3da32586-72d7-457b-bb16-1dcaa8be3473" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  statusCode: 200,
  message: "Account deleted successfully"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
