src/main/mule/updateAccount.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="updateAccountFlow" doc:id="cdfa50b5-a57b-4dc2-a002-ad637a08c327" >
		<logger level="INFO" doc:name="Logger" doc:id="b7f31e99-02c3-4106-9a76-cc739ecf5ee4" message="updateAccountflow starts..........."/>
		<db:update doc:name="Update" doc:id="ef0eae38-6079-4c49-ae3b-b2e9733ed26f" config-ref="Database_Config">
			<db:sql ><![CDATA[UPDATE account SET name  = :name,
				   phone = :mob,
				   email = :email
		     WHERE accountid = :accid;]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
		accid : payload.account,
		name : payload.name,
		mob : payload.mob,
		email : payload.email
	}]]]></db:input-parameters>
		</db:update>
		<ee:transform doc:name="Transform Message" doc:id="b457b8ba-53a6-42e9-9291-0bb54547d365" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  statusCode: 200,
  message: "Account updated successfully"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="39723b3a-0f9b-4e11-b42c-ec00ea8d7f47" message="db response after transformation.............#[payload]"/>
	</flow>
</mule>
